@charset "UTF-8";

/* write by queuelovestack */
html, body, h1, h2, h3, h4, h5, h6, hr, p, a,
blockquote, dl, dt, dd, ul, ol, li, pre,
form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

a {
    outline: 0;
    color: #222;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: #205DCA;
}

.placeholder {
    color: #aaa;
}

a img {
    border: 0;
}

.m-border-1 {
	box-sizing: content-box;
	border: 1px solid #e5e5e5;
	position: relative;
}

.m-inner-1 {
	text-align: left;
	width: 998px;
	zoom: 1;
	margin: 0 auto 15px;
	border-radius: 2px;
	overflow: hidden;
}

.sub-grid1-wr {
	display: table;
	width: 975px;
	margin: 10px auto;
	position: relative;
}

.sub-grid1 {
	margin: 0;
	position: relative;
	transition: all 0.3s;
	overflow: hidden;
}

.sub-grid1 + .sub-grid1 {
    margin-top: 10px;
}

.sub-grid1 .list {
    display: block;
    padding-bottom: 10px;
}

.sub-grid1:hover {
	background: #eeeeee;
}

.sub-grid1 .sub-title {
	transition: all 0.3s;
	line-height: 36px;
	padding: 0 10px;
	height: 100%;
	border-bottom: 1px dashed #ddd;
}

.sub-grid1 .sub-title a {
    color: #28A19E;
    font-size: 13px;
    letter-spacing: 2px;
}

.sub-grid1 li {
    float: left;
    display: block;
    width: 110px;
    padding: 3px 0 3px 10px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    position: relative;
}

.sub-grid1 a {
    font-size: 13px;
    position: relative;
}

.sub-grid1 a img {
    vertical-align: middle;
    border: none;
    width: 16px;
    height: 16px;
    left: 0;
    top: 1px;
    position: absolute;
}

.sub-grid1 a .title {
    margin-left: 26px;
}

.m-left {
	overflow: hidden;
	float: left;
	position: relative;
	border-right: 1px solid #e5e5e5;
}

.m-title {
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    height: 35px;
    float: left;
    position: relative;
}

.m-title .t {
    font-size: 14px;
    width: 150px;
    display: block;
    padding: 0 10px;
    height: 35px;
    line-height: 35px;
	text-align: center;
    margin: 0 auto;
}

.m-content {
    width: 100%;
    height: 327px;
    float: left;
    position: relative;
}

.knbk-left-bg {
    background: url(../images/knbk/knbk1.png) bottom right no-repeat;
}

.m-list {
    width: 244px;
    position: relative;
    display: block;
    float: left;
    margin: 0 8px 5px;
}

.m-list li {
	background-position: left top;
    background-repeat: no-repeat;
	line-height: 20px;
}

.m-list .title {
	padding-left: 20px;
    display: block;
	font-weight: bold;
}

.m-list .content {
	line-height: 25px;
}

.m-jumppod {
    font-size: 12px;
    display: block;
    position: fixed;
    zoom: 1;
    left: 50%;
    margin-left: 510px;
    width: 65px;
    bottom: 100px;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-bottom: none;
}

.m-jumppod li {
    text-align: center;
    cursor: pointer;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ddd;
    color: #666;
}

.m-jumppod li:hover {
    background: #eee;
}

.web-bg .icon-clip, .web-bg .icon-dot {
	background-image: url(../../static/img/icon.png);
}

.web-bg {
    position: relative;
	margin: 0 auto 15px;
    width: 1000px;
    height: 170px;
    background-color: rgba(255,255,255,.75);
    border-radius: 5px;
	padding-top: 22px;
}

.web-bg .icon-clip {
	background-position: -247px -71px;
}

.web-bg .icon-clip {
    position: absolute;
    width: 33px;
    height: 37px;
    top: -15px;
    left: 8px;
    background-repeat: no-repeat;
}

.web-bg .icon-dot {
    background-position: -270px -118px;
}

.web-bg .icon-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 7px;
    right: 7px;
    background-repeat: no-repeat;
}

.m-shortcut-panel {
    float: left;
    position: relative;
    width: 990px;
    margin-left: 4px;
    display: block;
}

.m-shortcut-panel .item {
    margin: 0 5px;
    width: 80px;
    float: left;
    display: block;
}

.m-shortcut-panel .item a {
    overflow: hidden;
    display: block;
    width: 80px;
    height: 85px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 0;
    margin: 0 auto;
    text-align: center;
	border: 1px solid rgba(255,255,255,.75);
}

.m-shortcut-panel .item a:hover {
    color: white;
	border-color: rgba(0,0,0,.75);
    text-decoration: none;
    background: url(../images/navigation/bggray.png);
}

.m-shortcut-panel .item img {
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    width: 54px;
    height: 54px;
}

.m-shortcut-panel .item .title {
    text-align: center;
    display: block;
    margin: 3px auto 0;
    line-height: 25px;
    height: 25px;
    font-size: 13px;
    width: 100%;
    border-radius: 4px;
}

/* write by choker */
#touchbar {
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0px;
    z-index: 1;
}
                
.touchbar-container {
    width: 100%;
    height: 0px;
    position: relative;
}
                
.touchbar-bg1, .touchbar-bg2, .touchbar-bg3,
.touchbar-locked, .touchbar-unlocked {
    background-image: url(../../static/img/touchbar.png);
    background-repeat: no-repeat;
}
            
.touchbar-bg1 {
    height: 53px;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 80px;
    background-position: 0px 0px;
    background-repeat: repeat;
}

.touchbar-bg2 {
    width: 67px;
    height: 80px;
    position: absolute;
    top: -15px;
    right: 13px;
    background-position: 0px -46px;
}

.touchbar-bg3 {
    height: 53px;
    width: 13px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-position: 0px 0px;
}

.touchbar-lock {
    height: 18px;
    width: 18px;
    cursor: pointer;
    position: absolute;
    top: 55px;
    left: 33px;
    z-index: 1;
}

.touchbar-locked {
    background-position: -108px -56px;
}

            
.touchbar-locked:hover {
    background-position: -108px -76px;
}

.touchbar-unlocked {
    background-position: -88px -56px;
}

.touchbar-unlocked:hover {
    background-position: -88px -76px;
}

.show-bar {
    -webkit-animation: showbar .2s 0s ease both;
      -moz-animation: showbar .2s 0s ease both;
        -ms-animation: showbar .2s 0s ease both;
        -o-animation: showbar .2s 0s ease both;
            animation: showbar .2s 0s ease both;
}
            
.hide-bar {
    -webkit-animation: hidebar .5s 0s ease both;
      -moz-animation: hidebar .5s 0s ease both;
        -ms-animation: hidebar .5s 0s ease both;
        -o-animation: hidebar .5s 0s ease both;
            animation: hidebar .5s 0s ease both;
}
            
.touchbar-navbar {
    width: 15%;
    height: 46px;
    line-height: 2em;
    margin-left: 120px;
    font-size: 13px;
    color: #ddd;
    cursor: pointer;
    text-shadow: 0px 0px 15px rgba(200,200,200,.5);
    font-family: "微软雅黑";
}

.navbar-item {
    margin: 7px 0 9px 0;
    width: 67px;
    text-align: center;
    border: solid 1px rgba(200,200,200,.3);
    box-shadow: 0px 2px 2px rgba(0,0,0,.8),
    0px -2px 2px rgba(0,0,0,.8),
    0px 2px 3px rgba(150,150,150,.7) inset,
    0px -2px 4px rgba(0,0,0,.8) inset;
}

.navbar-item:hover {
    color: #eee;
    text-shadow: 0px 0px 10px rgba(255,255,255,1);
}

            
.navbar-item-active {
    box-shadow: 
    0px 2px 5px rgba(0,0,0,.8) inset,
    2px 0px 5px rgba(0,0,0,.8) inset,
    0px 0px 3px rgba(200,200,200,.8) inset,
    0px 0px 3px rgba(200,200,200,.8) inset;
    border: solid 1px #000;
}

.navbar-left {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navbar-right {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


.touchbar-navbar-container {
    width: 80%;
}

.touchbar-navbar-container-item {
    height: 46px;
    line-height: 46px;
    font-size: 13px;
    display: none;
    color: #ddd;
}

.container-item-active {
    display: block;
}

.navbar-list-item {
    padding: 6px 10px;
    cursor: pointer;
}

.navbar-list-item:hover {
    text-shadow: 0px 0px 10px rgba(255,255,255,.5);
    -webkit-animation: fontresize .7s 0s ease both;
      -moz-animation: fontresize .7s 0s ease both;
        -ms-animation: fontresize .7s 0s ease both;
        -o-animation: fontresize .7s 0s ease both;
            animation: fontresize .7s 0s ease both;
}

.list-item-blur {
    -webkit-animation: fontrecover .7s 0s ease both;
      -moz-animation: fontrecover .7s 0s ease both;
        -ms-animation: fontrecover .7s 0s ease both;
        -o-animation: fontrecover .7s 0s ease both;
            animation: fontrecover .7s 0s ease both;
}

.navbar-list-item:active {
    -webkit-animation: fontrecover .7s 0s ease both;
       -moz-animation: fontrecover .7s 0s ease both;
        -ms-animation: fontrecover .7s 0s ease both;
         -o-animation: fontrecover .7s 0s ease both;
            animation: fontrecover .7s 0s ease both;
}

.padding {
    border-left: solid 1px #888;
    padding: 3px 0px 3px 4px;
}

.search-bar {
    position: relative;
}

.search-bar input {
    width: 200px;
    height: 2em;
    padding-left: 20px;
    border-radius: 1em;
    border: none;
    outline: none;
    background-color: #222;
    box-shadow: 0px 0px 5px #fff inset;
    color: #aaa;
}

.search-bar-input:focus {
    -webkit-animation: addwidth 1s 0s ease both;
       -moz-animation: addwidth 1s 0s ease both;
        -ms-animation: addwidth 1s 0s ease both;
         -o-animation: addwidth 1s 0s ease both;
            animation: addwidth 1s 0s ease both;
}

.input-blur {
    -webkit-animation: subwidth 1s 0s ease both;
       -moz-animation: subwidth 1s 0s ease both;
        -ms-animation: subwidth 1s 0s ease both;
         -o-animation: subwidth 1s 0s ease both;
            animation: subwidth 1s 0s ease both;
}

.search-bar-button {
    position: absolute;
    width: 35px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    border: none;
    outline: none;
    height: 23px;
    right: 2px;
    top: 11px;
    background-color: #333;
    box-shadow: 0px 0px 3px #888;
    cursor: pointer;
}

.search-bar-button img{
    position: absolute;
    top: 4px;
    left: 9px;
}

.search-select {
    padding-top: 3px;
    margin-left: 30px;
    width: 200px;
    position: relative;
}

.select1-label,
.select1-item {
    background: url(../../static/img/searchIcons.png) no-repeat;
}

.select1-label-container {
    width: 86px;
    border: solid 1px transparent;
    border-radius: 5px;
    padding: 2px 8px;
    margin-right: 10px;
}

// .select1-label-container:hover {
//     border: solid 1px #666;
//     box-shadow: 0px 0px 15px #777 inset;
// }

.select1-label {
    width: 86px;
    height: 32px;
    background-position: 0 -288px;
}

.select1-items {
    position: absolute;
    top: -1px;
    left: -8px;
    padding: 0px 8px 1px 8px;
    background-color: rgba(50,50,50,1);
    border-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    opacity: 0;
    cursor: default;
}

.select1-item-container {
    margin: 4px 0px 6px 0px;
    padding: 3px 8px;
    border: solid 1px #666;
    border-top: none;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #111 inset;
}

.select1-item-container:hover {
    box-shadow: 0px 0px 15px #777 inset;
}

.select1-item {
    width: 86px;
    height: 32px;
    //background-position: 0 -288px;
}









.select2-label-container {
    width: 32px;
    border: solid 1px transparent;
    border-radius: 5px;
    padding: 2px 8px;
    margin-right: 40px;
}

// .select2-label-container:hover {
//     border: solid 1px #666;
//     box-shadow: 0px 0px 15px #777 inset;
// }

.select2-label {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.select2-items {
    position: absolute;
    top: 0px;
    left: 106px;
    padding: 0px 8px 1px 8px;
    background-color: rgba(50,50,50,1);
    border-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    opacity: 0;
    cursor: default;
}

.select2-item-container {
    margin: 4px 0px 6px 0px;
    padding: 2px 8px;
    border: solid 1px #666;
    border-top: none;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #111 inset;
    text-align: center;
}

.select2-item-container:hover {
    box-shadow: 0px 0px 15px #777 inset;
}

.select2-item {
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-position: 0 -288px;
}

.show-select {
    -webkit-animation: show 0.5s 0s ease both;
       -moz-animation: show 0.5s 0s ease both;
        -ms-animation: show 0.5s 0s ease both;
         -o-animation: show 0.5s 0s ease both;
            animation: show 0.5s 0s ease both;
}

.hide-select {
    -webkit-animation: hide 0.5s 0s ease both;
       -moz-animation: hide 0.5s 0s ease both;
        -ms-animation: hide 0.5s 0s ease both;
         -o-animation: hide 0.5s 0s ease both;
            animation: hide 0.5s 0s ease both;
}

@-webkit-keyframes showbar { 0% { top: -40px } 100% { top: 0px } }
@-moz-keyframes    showbar { 0% { top: -40px } 100% { top: 0px } }
@-o-keyframes      showbar { 0% { top: -40px } 100% { top: 0px } }
@keyframes         showbar { 0% { top: -40px } 100% { top: 0px } }

@-webkit-keyframes hidebar { 0% { top: 0px } 100% { top: -40px } }
@-moz-keyframes    hidebar { 0% { top: 0px } 100% { top: -40px } }
@-o-keyframes      hidebar { 0% { top: 0px } 100% { top: -40px } }
@keyframes         hidebar { 0% { top: 0px } 100% { top: -40px } }

@-webkit-keyframes fontresize { 0% { font-size: 13px } 100% { font-size: 15px } }
@-moz-keyframes    fontresize { 0% { font-size: 13px } 100% { font-size: 15px } }
@-o-keyframes      fontresize { 0% { font-size: 13px } 100% { font-size: 15px } }
@keyframes         fontresize { 0% { font-size: 13px } 100% { font-size: 15px } }

@-webkit-keyframes fontrecover { 0% { font-size: 15px } 100% { font-size: 13px } }
@-moz-keyframes    fontrecover { 0% { font-size: 15px } 100% { font-size: 13px } }
@-o-keyframes      fontrecover { 0% { font-size: 15px } 100% { font-size: 13px } }
@keyframes         fontrecover { 0% { font-size: 15px } 100% { font-size: 13px } }

@-webkit-keyframes addwidth { 0% { width: 200px } 100% { width: 400px } }
@-moz-keyframes    addwidth { 0% { width: 200px } 100% { width: 400px } }
@-o-keyframes      addwidth { 0% { width: 200px } 100% { width: 400px } }
@keyframes         addwidth { 0% { width: 200px } 100% { width: 400px } }

@-webkit-keyframes subwidth { 0% { width: 400px } 100% { width: 200px } }
@-moz-keyframes    subwidth { 0% { width: 400px } 100% { width: 200px } }
@-o-keyframes      subwidth { 0% { width: 400px } 100% { width: 200px } }
@keyframes         subwidth { 0% { width: 400px } 100% { width: 200px } }

@-webkit-keyframes show { 0% { opacity: 0 } 100% { opacity: 1 } }
@-moz-keyframes    show { 0% { opacity: 0 } 100% { opacity: 1 } }
@-o-keyframes      show { 0% { opacity: 0 } 100% { opacity: 1 } }
@keyframes         show { 0% { opacity: 0 } 100% { opacity: 1 } }

@-webkit-keyframes hide { 0% { opacity: 1 } 100% { opacity: 0 } }
@-moz-keyframes    hide { 0% { opacity: 1 } 100% { opacity: 0 } }
@-o-keyframes      hide { 0% { opacity: 1 } 100% { opacity: 0 } }
@keyframes         hide { 0% { opacity: 1 } 100% { opacity: 0 } }