@charset "UTF-8";

html, body, h1, h2, h3, h4, h5, h6, hr, p, a,
blockquote, dl, dt, dd, ul, ol, li, pre,
form, fieldset, legend, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

.clearfix {
    zoom: 1;
}

a {
    outline: 0;
    color: #222;
    text-decoration: none;
}

a:hover {
    color: red;
    text-decoration: underline;
}

a:active {
    color: #205DCA;
}

.placeholder {
    color: #aaa;
}

a img {
    border: 0;
}

.m-border-1 {
	box-sizing: content-box;
	border: 1px solid #e5e5e5;
	position: relative;
}

.m-inner-1 {
	text-align: left;
	width: 998px;
	zoom: 1;
	margin: 0 auto 15px;
	border-radius: 2px;
	overflow: hidden;
}

.sub-grid1-wr {
	display: table;
	width: 975px;
	margin: 10px auto;
	position: relative;
}

.sub-grid1 {
	margin: 0;
	position: relative;
	transition: all 0.3s;
	overflow: hidden;
}

.sub-grid1 + .sub-grid1 {
    margin-top: 10px;
}

.m-navi .sub-grid1 .list {
    display: block;
    padding-bottom: 10px;
}

.sub-grid1:hover {
	background: #f6f6f6;
}

.sub-grid1 .sub-title {
	transition: all 0.3s;
	line-height: 36px;
	padding: 0 10px;
	height: 100%;
	border-bottom: 1px dashed #eee;
}

.sub-grid1 .sub-title a {
    color: #28A19E;
    font-size: 13px;
    letter-spacing: 2px;
}

.sub-grid1 li {
    float: left;
    display: block;
    width: 110px;
    padding: 3px 0 3px 10px;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    position: relative;
}

.sub-grid1 a {
    font-size: 13px;
    position: relative;
}

.sub-grid1 a img{
    vertical-align: middle;
    border: none;
    width: 16px;
    height: 16px;
    left: 0;
    top: 1px;
    position: absolute;
}

.sub-grid1 a .title {
    margin-left: 26px;
}